.navigation{
    width: 100%;
    background-color: black;
  }
  
.navigation a{
  padding: 1rem;
  background-color: black;
  color: gold;
  display: inline-block;
  text-decoration: none;


}
.navigation a:hover {
  box-shadow: 0em 0em 2em  gold;
}
