.background{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 60px;
  background: url(/assets/images/headquater3.jpg) no-repeat center center #505050; 
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  font: normal 90% "Lucida Console" ;
}

.background h2{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: gold;
  padding: 1rem;
  border-radius: 2em;
}

.background input{
  width: 92%;
  /* margin: 0px; */
}

.background img{
  height: 30%;
  width: 50%;
  margin-left: 25%;
}

.background button{
  width: 100%;
  /* margin-left: 25%; */
}

.main {
  font: normal 90% "Lucida Console" ;
  overflow: auto;
  position: relative;
}

.loginBackground{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 60px;
  background: url(/assets/images/heroes_in_action.jpg) center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.login {
  height: 50%;
  margin-top: 5%;
  font: normal 90% "Lucida Console"
}

label{
  display: inline-block;
  padding: .2em .5em 0em .5em ;
  margin-top: 15px;
  color: gold;
  border-radius: 10px;
  background: rgba(255, 17, 0, 1);

}
.ontop {
  display: inline-block;
  padding: .2em .5em 0em .5em ;
  margin-top: 15px;
  margin-left: 20px;
  color: gold;
  border-radius: 10px 10px 0px 0px;
  background: rgba(0, 0, 0, 0.6);

}

a {
  text-align: center;
  display: block;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

span {
  transition: all 0.5s ease-in-out;
}

input {
  height: 15px;
  padding: 10px 20px;
  display: block;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  border: 0px;
  color: white;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

input:focus {
  outline: 0;
  border: 0px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 5);
  color: white;
  box-shadow: 0em 0em 2em  gold;

}

button {
  background: rgba(0, 0, 0, 1);
  color: gold;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  font: normal 100% "Lucida Console" ;

}

button:hover {
  box-shadow: 0em 0em 2em  gold;
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgba(0,0,0,.6);
  color: gold;
  margin: 0em 0em .5em .5em;
  padding: .3em 0;
  height: auto;
  border-radius: 4px;
}
li:hover {
  left: .1em;
  box-shadow: 0em 0em 1.5em  rgb(255, 196, 0);
}

.heroId {
  display: inline-block;
  font-size: small;
  color: gold;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.6em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
