<app-nav-bar></app-nav-bar>
<div class="background">
    <h2>Leaderboard</h2>
    <div class="dashboard">
        <ul>
            <div *ngFor="let hero of heroes">
                <li routerLink="/detail/{{hero.id}}"><img  [src]=hero.img *ngIf="hero.img" width="auto" height=70> {{hero.name}}</li>
                
            </div>
        </ul>
    </div>
    <div class="buttons">
        <button routerLink="/create-hero">create hero</button>
        <button (click)=deleteLeader() routerLink="/dashboard">delete leading heros</button>
    </div>
    <app-hero-search></app-hero-search>
</div>
<!-- <app-messages></app-messages> -->