<div id="div1">
    <h2>Leaderboard</h2>
    <div class="heroes menue">
        <ul>
            <div *ngFor="let hero of heroes">
                <li routerLink="/detail/{{hero.id}}"><img  [src]=hero.img *ngIf="hero.img" width="auto" height=70> {{hero.name}}</li>
                
            </div>
        </ul>
    </div>

    <button routerLink="/create-hero">create hero</button>
    <button (click)=deleteLeader() routerLink="/dashboard">delete leading heros</button>
    <app-hero-search></app-hero-search>
</div>