<app-nav-bar></app-nav-bar>
<div class="background">
    <h2>Leaderboard</h2>
    <div class="dashboard">
        <ul class="heroes">
            <li *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
                <span class="heroId"> {{hero.id}}  |</span>
                <img  [src]=hero.img *ngIf="hero.img">
                {{hero.name}}</li>
        </ul>
    </div>
    <div class="buttons">
        <button routerLink="/create-hero">create hero</button>
        <button (click)=deleteLeader() routerLink="/dashboard">delete leading heros</button>
    </div>
    <app-hero-search></app-hero-search>
</div>
